/* *{


} */

body {
    display: flex;
    justify-content: center;
    background: #222222;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    background-image: url('https://source.unsplash.com/1900x900/?landscape');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 120%;

}

.card {
    padding: 2.5em;
    background: #000000d0;
    color: white !important;
    border-radius: 30px;
    width: 100%;
    max-width: 400px;
    margin: 1em;
}


button {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 44px;
    width: 44px;
    outline: none;
    background: #7c7c7c2b;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }

  input.search-input {
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: #7c7c7c2b;
    color: white;
    font-family: inherit;
    font-size: 105%;
    width: calc(100% - 100px);
  }

  .search {
    display: flex;
    align-items: center;
    justify-content: center;
  }

